*:root {

    --color1: #03738C;
    --color2: #595848;
    --color3: #59544F;
    --color4: #0D0D0D;
    --font1: font-family: 'Pacifico', cursive;
    --font2: font-family: 'Roboto', sans-serif;
    --font3: font-family: 'Josefin Sans', sans-serif;
}
*{font-family: 'Josefin Sans', sans-serif;
 }



a{color: white!important;
  font-family: 'Josefin Sans', sans-serif;
   font-size: 25px;
  margin-left: 10px;}

  a:hover {
     font-size: 32px;
     background-color:#03738c25 ;
     border-radius: 10px;
  }

 h1{font-family: 'Josefin Sans', sans-serif;}

 .btwhite {
background-color: white;}

.sub-titu{color: var(595848);
  font-family: 'Josefin Sans', sans-serif;;
 font-weight: bold;
}

strong{color: var(--color1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: none;}


.imglogo { object-fit: cover;
  width: 214px;
  }

.btn-primary{background-color: var(--color1);}

.btn-primary:hover {
   background-color: var(--color1);
}



.carimg1 {
      object-fit: cover;
      height: 600px;
}

.carimg2 {
  object-fit: cover;
  height: 600px;
}

.card-largura{
  max-width: 25rem;
}

.cardimg{
     object-fit: cover;
     height: 100px;
}


